<!doctype html>
<html ng-app>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="../js/angular.js"></script>
<script>
	
</script>
</head>
<body>
	<form ng-submit="requestFunding()" ng-controller="StartUpController">
		Starting: <input ng-keyup="computeNeeded()" 
			ng-model="startingEstimate"> Recommendation: {{needed}}
		<button>Fund my startup!</button>
		
	</form>
	
	<input ng-model="abc">
	<p ng-bind="abc | currency"></p>
</body>
</html>
<script>
	function StartUpController($scope) {
		$scope.computeNeeded = function() {
			$scope.needed = $scope.startingEstimate * 10;
		};
		$scope.requestFunding = function() {
			alert("Sorry, please get more customers first.");
		};
	}
</script>
